
@media (min-width: 768px) and (max-width: 1165px) {

	.mainWrap{
		width:768px;
		margin:0 auto;
	}
	.menu ul {top:37px;}
	.menu li a{
		font-size:14px;
		padding:8px;}
	nav img {
		width: 150px;
		margin-left: -10px;
		margin-top:10px;
	}

	.scrolled img {
    	margin-top: 7px!important;
    	width: 132px!important;
    	margin-left: -2px;
	}

	header {
		height: 100vmax;
	}
	.block-1 p {
    	width: 37.33%;
    	margin-bottom: 30px;
	}
	
	.block-3 ul {
		padding: 0 38px;
	}
	.block-3 li {
		//margin: 0px 55px 0 40px;
    	font-size: 23px;
    	text-align: justify;
	}
	.block-3 p {
    	font-size:25px;
	}
	
	.calc-1 {
    	width: 50%;
	}
	.calc-1 a {
    	font-size: 18px;
	}
	.fs-calc {
		font-size:16px!important;
		font-weight: 700!important;
	}
	.calc-1>fieldset>label.radiolable {
	    margin-left: 10px;
	    font-size: 20px;
	}
	.calc-1>fieldset>label.radiolable:first-child {
	    margin: 15px 0px 10px 10px;
	}
	.wrap-form {
	    padding: 50px 0 150px;
	}
	.wrap-mest {
	    margin-left: 29px;
	}
	.wrap-dop-uslugi {
		margin-left: 70px;
	}
	.wrap-dop-uslugi label {
	    margin: 11px 0px 4px 0;
	    font-size: 22px;
	}
	.button-order {
	    top: 325px;
    	left: 258px;
	    padding: 22px 45px;
    	font-size: 22px;
	}

	/*.w20, */
	.w25 {
	    width: 50%;
	}

	.servises h2 {
	    font: 600 16px Roboto,Arial,Helvetica;
	}

	/*.w20 h2 {
		font: 600 16px Roboto,Arial,Helvetica;
		font-size: 94%!important;
	}*/
	.servises>div p {
	    font-size: 80%;
	    padding: 5px 10px 0px;
	    top: 53%;
	    left: 53%;
	    width: 173px;
	    height: 30px;
	    margin: -20px 0 0 -100px;
	}


	.servises>div p {
		top: 60%!important;
	}
	/*.w20:hover p {
		top: 60%!important;
		left: 55%!important;
		height: 30px!important;
	}*/

	.ws_gestures {
	    padding: 70px 50px;
	}

	.serv-desc{
		width:500px;
	}
	
	.podarok {
    	width: 85px;
    	height: 75px;
    	bottom: 30px;
    	left: 20px;
	}
	.hover-window2 {
		width: 295px;
	}
}
@media (max-width: 767px) {

	.mainWrap{width:auto;}

	.menu{display:none;}

	.mobile-menu{
		display:block;
	    background: #fff;
    	color: #3E4156;
	}
	.mobile-menu:hover{
		background: #fff;
    	color: #3E4156;
	}
	.bgvideo {display:none;	}

	header {
		height: 100vmax;
		padding-top: 36%;
		background: url('images/video.png') no-repeat center;
		background-size:cover;
	}

	header>h1 {
	    font-size: 223%;
	}
	header>h2 {
	    font-size: 25px;
	    font-weight: 500;
	    margin-bottom: 28px;
	}
	header p {
	    font-size: 19px;
	    font-weight: 500;
	    margin-top: 50px;
	}
	nav{margin:0; background:none;
	    position: fixed;
	    top: 50px;
	    width: 100%;}
	nav img {display: none;}

	.menu li{display:block; margin:0; float: none;}

	.menu li a {
		background:#ffffff;
		color:#797979;
		border-top:1px solid #e0e0e0;
		border-left:3px solid #ffffff;
		line-height:1.5em;
	}

	.menu li a:hover, .menu li:hover > a{
		background:#f0f0f0;
		color:#797979;
		border-left:3px solid #9CA3DA;
	}

	.menu ul {
		display:block;
		position:relative;
		top:0;
		left:0;
		width:100%;
	}

	.block-1 {
		height: auto;
	}
	.block-1 p {
    	width: 58%;
    	margin-bottom: 30px;
	}
	.block-1 h3 {
    	font-size: 23px;
    	width: 80%;
    	margin: 0 auto;
	}

	.block-2 ul li {
		margin:0 0 10px 10px;
	}
	.block-3 p{font-size: 21px;}
	.block-3 ul {
	    padding: 0px 50px;
	    text-align: justify;
	}
	.block-3 li {
		margin: 0 0 10px 0;
	}
	
	.wcent {
		padding:40px 45px;
	}

	.wcent h4 {
		font-size:24px;
	}
	.block-4 p {
    	font-size: 19px;
	}
	
	.calc-1 {
	    width: 100%;
	}
	.calc-1 a {
    	font-size: 18px;
	}
	.fs-calc {
		font-size:16px!important;
		font-weight: 700!important;
	}
	.calc-1>fieldset>label.radiolable {
	    margin-left: 10px;
	    font-size: 20px;
	}
	.calc-1>fieldset>label.radiolable:first-child {
	    margin: 15px 0px 10px 10px;
	}

	.wrap-mest {
	    margin-left: -124px;
	    left: 50%;
	    width: 245px;
	    height: 200px;
	    float: none;
	}
	.wrap-form {
	    padding: 50px 0 150px;
	}
	.wrap-dop-uslugi {
		margin-left: -141px;
	    left: 50%;
	    position: relative;
	}
	.wrap-dop-uslugi label {
	    margin: 11px 0px 4px 0;
	    font-size: 22px;
	}
	.button-order {
	    top: 525px;
    	margin-left: -101px;
    	left: 50%;
		padding: 22px 45px;
    	font-size: 22px;
	}
	/*.w20, */
	.w25 {
	    width: 50%;
	} 
	/*.w100 {
		width:100%!important;
	}*/

	.servises h2 {
	    font: 600 16px Roboto,Arial,Helvetica;
	}

	/*.w20 h2 {
		font: 600 16px Roboto,Arial,Helvetica;
		font-size: 94%!important;
	}*/
	.servises>div p {
	    font-size: 80%;
	    padding: 5px 10px 0px;
	    top: 53%;
	    left: 55%;
	    width: 173px;
	    height: 30px;
	    margin: -20px 0 0 -100px;
	}


	.servises>div p {
		top: 75%!important;
	}
	/*.w20:hover p {
		top: 75%!important;
		height: 30px!important;
	}*/

	.ws_gestures {
	    padding: 70px 50px;
	}
	
	.podarok {
    	width: 85px;
    	height: 75px;
    	bottom: 30px;
    	left: 20px;
	}
	.serv-desc{
		width: 460px;
	}
	.hover-window2 {
		width: 295px;
	}

}
@media (max-width: 480px) {
	header {
		height: auto;
		//max-height:736px;
		padding-top: 25%;
		padding-bottom: 10%;
	}
	header>h2 {
	    font-size: 21px;
	    margin-bottom: 10px;
	}
	header>h1 {
		font-size:180%;
	}
	header p {
		margin-top:20px;
	}
	.ml27, .ml33, .ml41 {
		//margin-left:0;
	}
	.block-1 {
		text-shadow:none;
	}
	.block-1 p, .block-1 h3 {
	    width: 90%;
	    background-color: rgba(255,255,255,0.6);
	    margin: 0 auto;
	    padding: 5px;
	    margin-bottom: 12px;
	    border-radius: 6px;
	    font-size: 19px
	}
	.wrap-desc {
    	width: 100%;
    }
    .block-2 ul li {
	    margin: 0px 0 25px 0px;
	}
	.block-3 h4 {
	    font-size: 24px;
	}
	.block-3 p {
	    font-size: 18px;
	    padding: 10px 11px;
	}
	.block-3 ul {
	    padding: 0px 40px;
	}
	.block-3 li {
		font-size:17px;
	}

	.ws_gestures {
		padding: 30px 0;
	}
	/*.w20,*/ 
	.w25{
		width:100%;
	}
	.wcent {
	    padding: 30px 30px;
	}
	.wcent h4 {
	    font-size: 23px;
	}
	.block-4 p {
	    font-size: 16px;
	}
	.calc-1 {height:auto;}
	.calc-1 a{
		white-space:normal;
	}
	.fs-calc {
		font-size:18px;
	}

	.wrap-dop-uslugi label {
		font-size:20px;
	}
	.podarok {
	    width: 65px;
	    height: 60px;
	    bottom: 30px;
	    left: 20px;
	}
	.serv-desc{
		width: 265px;
		height: 450px;
	}
	.hover-window2 {
		width: 91%;
	}
	.hover-window2 input {
    	width: 99%;
	}
	.wrapper-calc {
		padding:100px 0 0;
	}

}

/*@media (max-width: 320px) {
	header {
		//width: 100vw;
		height: 100vmax;
		//min-width: 320px;
	}
}*/